<body>

    <header class="hero">
        <nav class="nav container">
            <div class="nav_logo">
                <h2 class="nav_title">Coffee Lovers</h2>
            </div>
        </nav>

        <section class="hero_container container">
            <h1 class="hero_title">Gusto para tu paladar</h1>
            <p class="hero_paragraph"></p>
            <a href="/" class="cta">Comienza ahora</a>
        </section>
    </header>

    <main>
        <section class="container about" id="ofertas">
            <h2 class="subtitle">Lo que te ofrecemos</h2>
            <p class="about__paragraph">Amamos el buen café, y nos fascina lo que produce: las pláticas, las ideas, los
                lazos y los momentos. Buscamos conectar, crear y lograr. Queremos construir y ser parte del mundo en el
                que queremos vivir.</p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="../../../assets/images/cafe.svg" class="about__icon">
                    <h3 class="about__title">café y postres. </h3>
                    <p class="about__paragrah">Contamos con la mejor calidad de café artesanal.</p>
                </article>


                <article class="about__icons">
                    <img src="../../../assets/images/bebida.svg" class="about__icon">
                    <h3 class="about__title">Bebidas y extras</h3>
                    <p class="about__paragrah">Conoce las diferentes especialidad</p>
                </article>

                <article class="about__icons">
                    <img src="../../../assets/images/cafeparallevar.svg" class="about__icon">
                    <h3 class="about__title">Para llevar</h3>
                    <p class="about__paragrah">Puedes hordenar para llevar.</p>
                </article>
            </div>
        </section>

        <section class="knowledge">
            <div class="knowledge__container container">
                <div class="knowledege__texts">
                    <h2 class="subtitle">Nosotros</h2>
                    <p class="knowledge__paragraph"> Coffee lovers nace en el 2023 de un deseo por servir la mejor taza
                        de café posible en un ambiente bonito y relajado. Nace del deseo por hacer comunidad, basada en
                        un comercio justo y sustentable, cuidando cada uno de los detalles, desde el productor y el
                        grano hasta el barista y la taza.

                    </p>
                    <a href="#" class="cta">Comenzar</a>
                </div>

            </div>
        </section>

        <section class="price container">
            <h2 class="subtitle">Algo que te podría encantar</h2>

            <div class="price__table">
                <div class="price__element">
                    <p class="price__name"></p>
                    <h3 class="price__price">Café en familia</h3>

                    <div class="price__items">
                        <p class="price__features"></p>
                        <p class="price__features"></p>
                        <p class="price__features"></p>
                    </div>

                    <a href="#" class="price__cta">Empieza ahora</a>
                </div>


                <div class="price__element price__element--best">
                    <p class="price__name"></p>
                    <h3 class="price__price">Recerva con nosotros</h3>

                    <div class="price__items">
                        <p class="price__features"></p>
                        <p class="price__features"></p>
                        <p class="price__features"></p>
                    </div>

                    <a href="#" class="price__cta">Empieza ahora</a>
                </div>


                <div class="price__element">
                    <p class="price__name"></p>
                    <h3 class="price__price">Hora del té con amigos</h3>

                    <div class="price__items">
                        <p class="price__features"></p>
                        <p class="price__features"></p>
                        <p class="price__features"></p>
                    </div>

                    <a href="#" class="price__cta">Empieza ahora</a>
                </div>


            </div>
        </section>

        <section class="testimony">
            <div class="testimony__container container">


                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Conoce más de <span class="testimony__course">Coffe
                                Lovers.</span></h2>
                        <p class="testimony__review">Sabias qué nuestro café está hecho por artesanos Mexicanos,
                            seleccionando los mejores granos de café para nuestros clientes.</p>
                    </div>
                </section>
            </div>
        </section>
        

        <section class="questions container">
            <h2 class="subtitle">Algo que podría interesarte</h2>
            <p class="questions__paragraph">Coffee Lovers cuenta con diferentes servicios para que nunca dejes de
                comprartir un bue momento con tus amigos.</p>

            <section class="questions__container">
                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">Reservaciones
                            <span class="questions__arrow">
                                <img src="../../../assets/images/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Contactanos al 449-363-92-04</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">Menú
                            <span class="questions__arrow">
                                <img src="../../../assets/images/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Por agregar...</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">Sucursales
                            <span class="questions__arrow">
                                <img src="../../../assets/images/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">No hay sucursales fuera del país</p>
                    </div>
                </article>
            </section>

            <section class="questions__offer">
                <h2 class="subtitle">¿Sabias que contamos con descuentos días festivos?</h2>
                <p class="questions__copy">Conoce nuestros descuentos y promociones los días festivos.</p>
                <a href="#ofertas" class="cta">Obtener promociones</a>
            </section>
        </section>
    </main>

    <footer class="footer">
        <section class="footer__container container">
            <nav class="nav nav--footer">
                <h2 class="footer__title">Coffee Lovers</h2>

                <ul class="nav__link nav__link--footer">
                    <li class="nav__items">
                        <a href="#" class="nav__links">Inicio</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Acerca de</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Contacto</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Eventos recientes</a>
                    </li>
                </ul>
            </nav>

            <form class="footer__form" action="https://formspree.io/f/mknkkrkj" method="POST">
                <h2 class="footer__newsletter">Suscribete para obtener descuentos</h2>
                <div class="footer__inputs">
                    <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                    <input type="submit" value="Registrate" class="footer__submit">
                </div>
            </form>
        </section>

        <section class="footer__copy container">
            <div class="footer__social">
                <a href="#" class="footer__icons"><img src="../../../assets/images/facebook.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="../../../assets/images/tiktok.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="../../../assets/images/instagram.svg" class="footer__img"></a>
            </div>

            <h3 class="footer__copyright">Derechos reservados &copy; Ilse Ramos</h3>
        </section>
    </footer>
</body>